* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

button {
	background-color: rgba(255,255,255.6);
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	padding: 15px;
	color: grey;
	font-size: 1.5em;
}

button:hover {
	background-color: rgba(165, 96, 84, 0.6);
	color: white;
}

button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: black;
}

input {
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	border: 1px solid #DBDBDB;
}

span {
	font-weight: bold;
}