.search-books {
	margin-top: 5%;
	min-height: 25vh;
	overflow: hidden;
}

.book-conatiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.book {
	margin-left: 10%;
	display: flex;
	flex-wrap: wrap;
}

.modal-container {
	padding: 20px 25px;
	max-height: 85vh;
	overflow-y: scroll;
	text-align: left;
}

.modal-container::-webkit-scrollbar { 
    display: none; 
}

.close-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(165, 96, 84, 0.6);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 10px;
    right: 10px;
}

.close-modal-x {
	text-decoration: none;
    color: white;
}

.modal-title {
	font-size: 1.75em;
	text-align: center;
}

.modal-img {
	display: flex;
	justify-content: center;
}

.social-sharing-buttons {
	display: flex;
	flex-wrap: wrap;
	padding: 3px;
}

@media (max-width: 420px) {
    .search-books {
        min-height: 33vh;
    }
    .modal-container {
    	max-width: 85vw;
    	margin: 0 auto;
    }
}